
body {
    background-color: #0e0e0e;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    margin-top: 50px;
}
input, select, button, textarea {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
button {
    background-color: #0ff;
    color: black;
    cursor: pointer;
}
textarea {
    width: 80%;
}
.panel-btn, .download-btn, .logout {
    display: inline-block;
    background-color: #0ff;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 10px;
    text-decoration: none;
    color: black;
}
.error {
    color: red;
}
